<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand mt-2" href="../../../index.html">
    <img src="../../../assets/bicycle.png" width="100" height="auto" class="d-inline-block rounded-circle align-top"
         alt="BikeForMe Logo">
  </a>
   Bicylce For Everyone
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
          (click)="toggleNavbar()">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line" style="margin-bottom: 0;"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav ml-auto text-center">
      <li class="nav-item active">
        <a class="nav-link  text-primary" href="./index.html" alt="Home" title="Home"><i class="fas fa-home mr-1"></i><span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a routerLink="" class="nav-link  text-primary" alt="Login" title="Login">
          <i class="fas fa-sign-in-alt mr-1 "></i>Log In
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="" class="nav-link  text-primary" alt="Register" title="Register">
          <i class="fas fa-user-plus mr-1"></i>Register!
        </a>
      </li>
    </ul>

  </div>
</nav>
